.btn-volta {
    padding: 0;
    color: rgb(221, 0, 0) !important;
}

.main-img {
    max-width: 300px;
    margin: 0 auto;
    height: 130px;
}
.main-img img {
    border: .5px solid rgba(121, 121, 121, 0.321);
    padding: 0;
}
.main-img:hover .p-img{
    color: gray !important;
}
.main-img:hover{
    cursor: pointer;
}
.p-img{
    width: 300px;
    font-size: 15px;
    color: rgb(40, 40, 40);
    padding: 0;
    margin: 0;
}

.p-info {
    color: gray;
    font-size: 13px;
}

.imagem-register {
    max-width: 150px;
}

.main-login textarea {
    margin-top: 10px;
    resize: none;
    width: 70%;
    height: 120px;
}


@media only screen and (max-width: 600px) {

    .p-img{
        font-size: 15px;
    }
    .p-info{
        font-size: 12px;
        text-align: center;
    }

    
    .main-login input {
        width: 90%;
    }
    
}