/* Destalhes das paginas */
#green1 {
    position: absolute; 
    width: 250px;
    top: 0; 
    right: 0;
    z-index: -1;
}
#pink1 {
    width: 220px;
    position: absolute; 
    bottom: 0;  
    right: 0; 
    z-index: -1;
}

#yellow1 {
    position: absolute; 
    width: 15vw;
    top: 0%; 
    left: 0%; 
    z-index: -1;
}
#black1 {
    max-width: 260px;
    width: 20vw;
    position: absolute; 
    bottom: 0; 
    left: 0%; 
    z-index: -1;
}


/* Responsive  */ 
#green2 {
    display: none;
}
#pink2 {
    display: none;
}

#yellow2 {
    display: none;

}
#black2 {
    display: none;
}

/* Estilos específicos para telas menores que 600px de largura(mobile)*/
@media only screen and (max-width: 600px) {

    #green1 {
        display: none;
    }
    #pink1 {
        display: none;
    }
    
    #yellow1 {
        display: none;

    }
    #black1 {
        display: none;
    }
    
    #green2 {
        position: absolute;
        display: block;
        z-index: -1;
        width: 300px;
        bottom: 0; 
        left: 0;     
    }

    #pink2 {
        position: absolute;
        display: block;
        z-index: -1;
        width: 140px;
        top: 7vh; 
        left: -20px; 
    }
    
    #yellow2 {
        position: absolute;
        display: block;
        z-index: -1;
        width: 150px;
        bottom: 3vh; 
        right: 0;
    }

    #black2 {
        position: absolute;
        display: block;
        z-index: -1;
        top: 0; 
        right: 0;
        width: 200px;
    }
}

/* Estilos específicos para telas maiores que 600px e menores que 1024px de largura */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    
    #green1 {
        width: 200px;
    }
    #pink1 {
        width: 200px;
    }
    
    #yellow1 {
        width: 200px;

    }
    #black1 {
        width: 200px;
    }
}


